<div>
    <div id="date-chooser">
        <button id="date-left">left</button>
        <i>icon</i>
        <p id="date">Today, 29th March</p>
        <button id="date-right">right</button>
    </div>
    <hr>
    <div>
        <p>Calories</p>
        <h6>2000 left</h6>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
    </div>
    <div>
        <p>Proteins</p>
        <h6>11.3g left</h6>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
    </div>
    <div>
        <p>Carbs</p>
        <h6>48g left</h6>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
    </div>
    <div>
        <p>Fats</p>
        <h6>83g left</h6>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
    </div>
</div>