<div id="meal">
    <img src="#" alt="#">
    <div>
        <h5>Dinner</h5>
        <p>Mixed salad, Remoulade, Roast Chicken</p>
        <p>Calories: <span class="cals">506</span> Protein: <span class="pros">3.4g</span> Carbs: <span
                class="carbs">2.4g</span> Fats: <span class="fats">5.4g</span></p>
    </div>
    <div>
        <button class="edit-meal">Edit</button>
        <button class="delete-meal">Remove</button>
    </div>
</div>