<main>
    <div class="card">
        <h2>Sign in</h2>
        <hr>
        <div>
            <label for="email-input">Username</label>
            <input type="email" id="email-input" placeholder="E-mail">
        </div>
        <div>
            <label for="password-input">Password</label>
            <input type="password" id="password-input" placeholder="Password">
        </div>
        <hr>
        <button id="sign-in-button">Sign in</button>
        <p>Don't have an account? <a href="#">Sign up here</a></p>
    </div>
</main>