<main>
    {{!-- container --}}
    <div class="card" style="top: 160px;">

        {{!-- form --}}
        <form class="flex-column">

            {{!-- form header --}}
            <h2 class="foreground-brown">Sign up for an account</h2>

            {{!-- username input --}}
            <div class="form-group">
                <label for="username-input">Username</label>
                <input type="text" id="username-input" placeholder="Username" class="form-control">
            </div>

            {{!-- email input --}}
            <div class="form-group">
                <label for="email-input">E-mail</label>
                <input type="email" id="email-input" placeholder="E-mail" class="form-control">
            </div>

            {{!-- password input --}}
            <div class="form-group">
                <label for="password-input">Password</label>
                <input type="password" id="password-input" placeholder="Password" class="form-control">
                <div id="password-help" style="margin-top: 8px;">Must be between 8 - 25 characters.</div>
            </div>

            <div class="card-button-layout">

                {{!-- submit --}}
                <button class="btn brand" id="sign-up-button"><i class="fas fa-user-plus"
                        style="padding-right: 8px;"></i>Create account</button>

                {{!-- sign in link --}}
                <p style="margin: 15px;"><i class="fas fa-sign-in-alt" style="padding-right:8px;"></i>Already have an
                    account? <a href="/signin">
                        Sign in here</a></p>
            </div>
        </form>
    </div>
</main>