<main>
    <div class="card">
        <form>
            <h2>Sign up for an account</h2>
            <hr>
            <div>
                <label for="username-input">Username</label>
                <input type="text" id="username-input" placeholder="Username">
            </div>
            <div>
                <label for="email-input">E-mail</label>
                <input type="email" id="email-input" placeholder="E-mail">
            </div>
            <div>
                <label for="password-input">Password</label>
                <input type="password" id="password-input" placeholder="Password">
                <div id="password-help">Must be between 8 - 25 characters.</div>
            </div>
            <hr>
            <button id="sign-up-button">Create account</button>
            <p>Already have an account? <a href="#">Sign in here</a></p>
        </form>
    </div>
</main>