<main>
    {{!-- container --}}
    <div class="card" style="top: 160px;">

        {{!-- form --}}
        <form class="flex-column">

            {{!-- form header --}}
            <h2 class="foreground-brown">Sign in</h2>

            {{!-- email input --}}
            <div class="form-group">
                <label for="email-input">E-mail</label>
                <input type="email" id="email-input" placeholder="E-mail" class="form-control">
            </div>

            {{!-- password input --}}
            <div class="flex=row">
                <label for="password-input">Password</label>
                <input type="password" id="password-input" placeholder="Password" class="form-control">
            </div>
            <div class="card-button-layout">

                {{!-- submit --}}
                <button class="btn brand" id="sign-in-button"><i class="fas fa-sign-in-alt"
                        style="padding-right: 8px;"></i>Sign in</button>

                {{!-- sign up link --}}
                <p style="margin: 15px;"><i class="fas fa-user-plus" style="padding-right: 8px;"></i>Don't have an
                    account? <a href="/signup">Sign up here</a></p>
            </div>
        </form>
    </div>
</main>