{{> dashheader stats}}
<div class="light">
    {{!-- section header --}}
    ​<div class="container" style="position: relative; margin-top: 32px;">
        <div class="row">
            <div class="col-lg-2">

                {{!-- back button --}}
                <button class="btn outline" id="go-back-button" style="width: 100%;"><i
                        class="fas fa-chevron-left"></i></button>
            </div>
            <div class="col-lg-10" style="margin-bottom: 32px;">
                <h1>Add Meal</h1>
            </div>
        </div>

        {{!-- container --}}
        <div class="meal-form-card">

            {{!-- form --}}
            <form id="meal-form" class="form-inline">

                {{!-- dropdown options --}}
                <div class="form-group">
                    <label for="meal-type">Meal</label>
                    <select class="form-control form-control-lg" id="meal-type">
                        <option>Select a meal type</option>
                        <option>Breakfast</option>
                        <option>Lunch</option>
                        <option>Dinner</option>
                        <option>Snack</option>
                        <option>Beverage</option>
                    </select>
                </div>

                {{!-- search food input --}}
                <div class="form-group" style="padding-top:20px;">
                    <label for="foods-input">Search database for a food or meal</label>
                    <div class="flex-row">
                        <input type="text" class="form-control form-control-lg" id="foods-input"
                            placeholder="Search foods">

                        {{!-- submit search query --}}
                        <button id="search-button" type="submit" class="btn outline" style="margin-top:20px;"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>

            <div id="results-box">
                <label>Results</label>
                <div id="results-container"></div>
            </div>
            <div id="saved-box">
                <label>Saved items</label>
                <div id="saved-container"></div>
            </div>

            {{!-- submit form --}}
            <div class="flex-row">
                <button id="cancel-button" type="submit" class="btn danger" style="margin-top:20px;">Cancel</button>
                <button id="save-button" type="submit" class="btn brand" style="margin-top:20px;">Save</button>
            </div>
        </div>
    </div>
</div>
</form>