{{> dashheader stats}}
<main class="light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2>Todays meals</h2>
            </div>

            <div class="col-lg-2">
                <button id="add-meal-button" class="btn brand">Add meal</button>
            </div>
        </div>

        <div id="meals" class="row">
            <div class="col-lg-12">
                {{#each meals as |meal|}}
                {{> meal}}
                {{/each}}
            </div>
        </div>
    </div>
</main>