{{dashheader.handlebars}}
<main>
    <div>
        <h2>Todays meals</h2>
        <button id="add-meal-button">Add meal</button>
    </div>
    <div id="meals">
        {{#each meals as |meal|}}
        {{> meal}}
        {{/each}}
    </div>
</main>