{{#if new_user}}
{{signup.handlebars}}
{{else}}
{{signin.handlebars}}
{{/if}}

<section>
    <h6>What is it?</h6>
    <p>Keep track of your daily food intake as well as track calories and nutrition</p>
    <h6>Easily add your meals into your personal database. Find nutritional information</h6>
    <h6>Aggregates your daily calorie and nutritional values</h6>
    <h6>Set daily targets for yourself</h6>
</section>

<footer>
    <p>&copy;2021</p>
</footer>