{{#if new_user}}
{{> signup}}
{{else}}
{{> signin}}
{{/if}}

{{!-- page content --}}
<div class="container" style="position: relative; margin-top: 40px">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="foreground-white elevation">What is it?</h4>
            <h1 class="foreground-white emphasis elevation">Keep track of your daily food intake as well as track
                calories and nutrition.</h1>
        </div>
    </div>

    {{!-- text and images --}}
    <div class="row">
        <div class="col-lg-6">
            <h2 class="foreground-white regular elevation" style="margin-top: 100px;"><i class="fas fa-plus-square"
                    style="padding-right: 12px;"></i>Easily add your meals into your personal database. Find nutritional
                information.</h2>
            <h2 class="foreground-white regular elevation" style="margin-top: 40px;"><i class="fas fa-list-ol"
                    style="padding-right: 12px;"></i>Aggregates your daily calorie and nutritional values</h2>
            <h2 class="foreground-white regular elevation" style="margin-top: 40px;"><i class="fas fa-bullseye"
                    style="padding-right: 12px;"></i>Set daily targets for yourself</h2>
            <img src="../assets/iPhone11Pro2.png" alt="#">
        </div>
        <div class="col-lg-6">
            <img src="../assets/iPhone11Pro1.png" alt="#">
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="footer-inner">
            <h4>&copy; 2021</h4>
            <h4><i class="fab fa-github" style="padding-right: 8px;"></i>github</h4>
        </div>
    </div>
</footer>