:root {
    --gray-01: #242424; 
    --gray-02: #424242;
    --gray-03: #616161;
    --gray-04: #BDBDBD;
    --gray-05: #E0E0E0;
    --gray-06: #F2F2F2;
    --green-light: #45B649;
    --green-dark: #245C26;
    --green-yellow: #DCE35B;
    --brown: #483817;
    --danger: #DC3545;
    --warning: #F2994A;
    --border-radius-sml: 4px;
    --border-radius-med: 8px;
    --border-radius-large: 12px;
    --border-radius: .3rem;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 12px;
    --spacing-lg: 16px;
    --spacing-xlg: 20px;
    --spaing-xxlg: 32px;
    --text-subtle: 300;
    --text-regular: 500;
    --text-emphasis: 700;
    --text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.274);
}

* {
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: var(--green-light);
}

body {
    background-image: linear-gradient(180deg, #245C26,#245C26, #45B649);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.light {
    background-color: var(--gray-06);
    background-image: none;
}

/* typography */

h1 {
    font-size: 48px;
    font-style: normal;
    letter-spacing: -1px;
    text-align: left;
    margin-bottom: 0px;
}

h2 {
    font-size: 28px;
    font-style: normal;
    letter-spacing: -1;
    text-align: left;
    margin-bottom: 0px;
}

h3 {
    font-size: 24px;
    font-style: normal;
    text-align: left;
    margin-bottom: 0px;
}

h4 {
    font-size: 20px;
    font-style: normal;
    text-align: left;
    margin-bottom: 0px;
}

p {
    font-size: 16px;
    font-style: normal;
    text-align: left;
    margin-bottom: 0px;
}

caption {
    font-size: 14px;
    font-style: normal;
    text-align: left;
    margin-bottom: 0px;
}

/* font styling */

.thin{
    font-weight: var(--text-subtle);
}

.regular{
    font-weight: var(--text-regular);
}

.emphasis{
    font-weight: var(--text-emphasis);
}

.elevation {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.274);
}

.justify-center {
    text-align: center;
}


/* color styles */

.foreground-gray-dark {
    color: var(--gray-01);
}

.foreground-gray-mid {
    color: var(--gray-03);
}

.foreground-white {
    color: white;
}

.foreground-success {
    color: var(--green-light);
}

.foreground-danger {
    color: var(--danger);
}

.foreground-warning {
    color: var(--warning);
}

.foreground-brown {
    color: var(--brown);
}

.link-color {
    color: var(--green-light);
    padding: 10px;
    margin: 10px
}


/* Spacing */

.bottom-sml {
    margin-bottom: var(--spacing-sm);
}

.bottom-md {
    margin-bottom: var(--spacing-md);
}

.bottom-lg {
    margin-bottom: var(--spacing-lg);
}

.bottom-xlg {
    margin-bottom: var(--spacing-xlg);
}

.bottom-xxlg {
    margin-bottom: var(--spacing-xxlg);
}

/* container */

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}

/* Layout */

.flex-row {
    flex-direction: row;
    display: flex;
}

.flex-column {
    flex-direction: column;
    display: flex;
    gap: 16px;
}

.fixed {
    position: fixed;
    bottom: 0px;
    padding-bottom: 20px;
}

/* buttons */

.btn {
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
    width: fit-content;
    margin: var(--spacing-sm);
    border-radius: 20px;
    color: white;
    border: none;
    outline: none;
    height: 40px;
    background-color: var(--gray-01);
    transition: transform .2s;
}

.btn:hover {
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

.btn:active{
    transform: scale(0.9);
}

.btn-inline {
    display: inline;
}

.brand {
    background-color: var(--green-light);

}

.danger {
    background-color: var(--danger);

}

.subtle {
    background-color: white;
    color: var(--brown);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);

}

.subtle:hover {
    cursor: pointer;
    color: var(--brown);
    box-shadow: none;
    transform: scale(1.15);
}

.outline:hover {
    border: 1px solid #BDBDBD;
    outline: none;
    color: var(--gray-01);
}

.outline {
    border: 1px solid #BDBDBD;
    outline: none;
    color: var(--gray-01);
    background-color: rgba(255, 255, 255, 0);
}

.btn-transparent {
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
    width: fit-content;
    margin: var(--spacing-sm);
    border-radius: 14px;
    color: white;
    border: none;
    outline: none;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    transition: transform .2s;
}

.btn-transparent:hover {
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.149);
}

/* Header */

header {
    margin: 0;
    top: 0;
    width: 100%;
    position: fixed;
    height: 144px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.087), 0 6px 20px 0 rgba(0, 0, 0, 0.081);
    z-index: 1;
}

@media (max-width: 800px) {
    header  {
    height: 180px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}
}

.header-logo-start {
    font-size: 24px;
    font-style: normal;
    font-weight: var(--text-emphasis);
    line-height: 28px;
    letter-spacing: -1px;
    text-align: center;
    color: var(--brown);
}

.header-logo-end {
    font-size: 24px;
    font-style: normal;
    font-weight: var(--text-emphasis);
    line-height: 28px;
    letter-spacing: -1px;
    text-align: center;
    color: var(--green-light);
}

.header-logo-layout {
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px) {
    .header-logo-layout {
        margin-bottom: 0px;
}
}

.header-logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
}

.header-btn-layout {
    flex-direction: row;
    display: flex;
    float: right;
    margin-right: 20%;
}

@media (max-width: 1024px) {
    .header-btn-layout {
        width: auto;
        margin-left: 25%;
        margin-right: 25%;
}
}

/* hero content */

main {
    width: auto;
    height: 760px;
    padding-top: 32px;
    padding-bottom: 32px;
    object-fit: contain;
    /* position: fixed; */
    background-image: url(https://images.unsplash.com/photo-1543352634-a1c51d9f1fa7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80);
}

.dashboard {
    background-image: linear-gradient(180deg, #245C26, #45B649);
    height: fit-content;
    padding-top: 180px;
    padding-bottom: 80px;
}

/* CARDS */

/* Sign up card */

.card {
    border: 1px solid var(--gray-05);
    border-radius: var(--border-radius-med);
    background-color: rgba(255, 255, 255, 0.795) !important;
    backdrop-filter: blur(12px);
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
    padding: 32px;
}

@media (max-width: 800px) {
    .card  {
    margin-left: 10%;
    margin-right: 10%;
}
}

.card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 1%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.card-body {
    padding: 20px;
}

.card-button-layout {
    flex-direction: row;
    display: flex;
}

@media (max-width: 800px) {
    .card-button-layout {
        flex-direction: column;
        display: flex;
}
}

/* meal cards */

.meal-card {
    flex-direction: row;
    display: flex;
    border: 1px solid var(--gray-05);
    border-radius: var(--border-radius-med);
    background-color: white;
    width: auto;
    height: 140px;
    padding: 0px;
    transition: transform .2s;
    box-shadow: 0 2x 4px 0 rgba(0, 0, 0, 0.108);
    gap: 16px;
}

@media (max-width: 800px) {
    .meal-card {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin: 0px 20px 0px 20px;
    gap: 0px;
}
}

.meal-card:hover {
    transform: scale(1.025);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.053);
}

.meal-card-img {
    border-top-left-radius: var(--border-radius-med);
    border-bottom-left-radius: var(--border-radius-med);
    object-fit: cover;
    height: 140px;
    width: 280px;
}

@media (max-width: 800px) {
    .meal-card-img {
    border-top-left-radius: var(--border-radius-med);
    border-top-right-radius: var(--border-radius-med);
    border-bottom-left-radius: 0px;
    object-fit: cover;
    height: 140px;
    width: 100%;
}
}

.meal-card-text-layout {
    gap: 4px; 
    padding-top: 16px; 
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
    display: flex;
}

@media (max-width: 800px) {
    .meal-card-text-layout  {
    padding-top: none; 
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
}

.meal-form-card {
    border: 1px solid var(--gray-05);
    border-radius: var(--border-radius-med);
    background-color: rgba(255, 255, 255, 0.795) !important;
    backdrop-filter: blur(12px);
    width: 100%;
    margin-bottom: 32px;
    margin-right:0px;
    padding: 32px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Dashboard */

.dashboard-title {
    font-size: 48px;
    font-style: normal;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 0px;
    color: white;
    font-weight: var(--text-emphasis);
    text-shadow: var(--text-shadow);
}

@media (max-width: 1024px) {
    .dashboard-title  {
    font-size: 24px;
}
}

.dashboard-title-layout {
    flex-direction: row;
    display: flex;
    margin-left: 33.3%;
    margin-right: 33.3%;
    width: auto;
}

@media (max-width: 800px) {
    .dashboard-title-layout {
        gap: 20px;
        margin-left: 10%;
        margin-right: 10%;
        width: auto;
    }
}

/* Progress bars */

@keyframes progress-bar-stripes {
    from {
      background-position: 1rem 0;
    }
    to {
      background-position: 0 0;
    }
  }
  
  .progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: var(--green-dark);
    border-radius: 0.5rem;
  }

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: var(--green-yellow);
    transition: width 0.6s ease;
    border-radius: 0.5rem;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .progress-bar {
      transition: none;
    }
  }
  
  .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
  }
  
  .progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
      animation: none;
    }
  }

footer{
    background-color: rgba(255, 255, 255, 0.795) !important;
    backdrop-filter: blur(12px);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--gray-05);
}


.footer-inner {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
}

